.main-img {
  max-width: 100%;
}

.main-img:hover {
  filter: grayscale(100%);
}

.body-imgs {
    position: relative;
    text-align: center;
    color: white;
}

.img-text {
    position: absolute;
    top: 8px;
    left: 32px;
    font-size: 200%;
}
